@inherits LayoutComponentBase

<header class="text-white max-[1000px]:pt-7 pt-[42px]">
    <!-- Header -->
    <HeaderLayout />
</header>

<!-- Основной контент -->
<main class="">
    @Body
    <!-- Блок выдачи -->
</main>

<!-- Footer -->
<div><FooterLayout /></div>