<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="360AI_BlazorApp.styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="max-[1000px]:px-4 px-[200px] font-Roboto flex flex-col min-h-screen bg-layoutbg bg-[url('../images/back.svg')] max-[1020px]:bg-[url('../images/back2.svg')] bg-contain bg-no-repeat">

    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
